<h1>Bookmarks</h1>
<ul> <%= @bookmarks.all %> </ul>

<h1>Add Bookmark</h1>
<form action="/" method="post">
<input type="text" name="url" value="http://www..com">
<input type="submit" value="Submit">
</form>
</form>
